// Theme Light

$light-background: #fff;
$light-background-seconday: #ecf2f2;
$light-color: #000;
$light-border: #dce8e8;
$light-primary: #33ff66;
$light-link: #086dc3;
$light-placeholder: lighten($light-border, 5);
$light-outline: darken($light-border, 15);

// Theme Dark

$dark-background: #0d2f2b;
$dark-background-secondary: #0d2f2b;
$dark-color: #fff;
$dark-border: #4a5053;
$dark-primary: #33ff66;
$dark-link: #086dc3;
$dark-placeholder: rgba(51, 255, 102, 0.68);
$navbar-color: rgb(41, 198, 83);


// Global
$spring-8points: 8px;
$spring-font-size: 15px;
$spring-font-size-sm: 14px;
// Primary font - change as needed
$spring-font-family: 'Metropolis', Arial, sans-serif;
$spring-transition-duration: 0.15s;
$spring-max-width: 1680px;